* {
  box-sizing: border-box;
}

body, html, #root {
  font-family: Helvetica, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
}

[data-theme="dark"] body {
  background-color: #1a1a1a;
  color: #f1f1f1;
}

.copy-password-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.copy-password-input {
  flex: 8; /* 80% */
  padding: 0.5rem;
  border: 1px solid var(--border-color, #ccc);
  border-radius: 5px;
  background-color: var(--background-secondary, #fff);
  color: var(--text-primary, #000);
}

.copy-btn {
  flex: 2; /* 20% */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--accent-color, #007bff);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: var(--accent-hover, #0056b3);
}

.copy-btn svg {
  font-size: 18px;
}

.sidebar {
  width: 250px;
  background-color: var(--background-primary, #FFF);
  color: var(--text-primary, #000);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sidebar input, .sidebar button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.sidebar input {
  background-color: var(--background-secondary, #F0F2F5);
  color: var(--text-secondary, #54656F);
}

.sidebar button {
  background-color: var(--accent-color, #459fe6);
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: var(--accent-hover, #368cce);
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-primary, #000);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-header {
  background-color: var(--background-secondary, #F0F2F5);
  color: var(--text-primary, #000);
}

.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid var(--accent-color, #459fe6);
  cursor: pointer;
  background-color: var(--background-secondary, #F0F2F5);
  color: var(--text-primary, #000);
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.sidebar ul li.active {
  background-color: var(--accent-color, #007bff);
  color: white;
}

/* Main Content Styling */
.main-content {
  width: calc(100% - 250px);
  padding: 20px;
  background-color: var(--background-secondary, #f4f4f4);
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--text-primary, #333);
}

ul li {
  padding: 10px;
  border-bottom: 1px solid var(--border-color, #ddd);
}

ul li strong {
  font-weight: bold;
  color: var(--accent-color, #007bff);
}

ul li p {
  margin: 5px 0;
  color: var(--text-secondary, #666);
}

.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e187f8;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin-right: 10px;
}